<html>
    <head>
        <title>Musikbox</title>
    </head>
    <body>
        <h1>Musikbox</h1>
        
        <h2>Letzter aufgelegter Chip</h2>
        <div>
            {% if curr_chip %}
               <form action="/changeMapping" method="post">
                    <input type="hidden" id="chip" name="chip" value="{{ curr_chip }}">

					<div>
						<label for="chip">Nummber des Chips:</label>
						<span>{{ curr_chip }}</span>
					</div>
					
					<div>
						<label for="pattern">Zuordnung:</label>
						{% if curr_mapping.pattern %}
							<input type="text" style="width: 80%;" id="pattern" name="pattern" value="{{ curr_mapping.pattern }}">
						{% else %}
							Noch keine Zuordnung festgelegt.
							<input type="text" style="width: 80%;" id="pattern" name="pattern">
						{% endif %}
					</div>
					
					<div>
						<label for="comment">Kommentar:</label>
						<input type="text" style="width: 80%;" id="comment" name="comment" value="{{ curr_mapping.comment }}">
					</div>
					
                    <input type="submit" value="Zuordnung ändern">
                </form>
            {% else %}
                Noch kein Chip aufgelegt.
            {% endif %}            
        </div>

        <h2>Zuordnung Chips zu Musik</h2>
        <ul>
            {% for chip, mapping in all_mappings.items() %}
                <li>
                    <span class="musikbox-chip">{{ chip }}</span>: <span class="musikbox-pattern">{{ mapping.pattern }}</span>
                    {% if mapping.comment %}
                        (<span class="musikbox-comment">{{ mapping.comment }}</span>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        
    </body>
</html>