[Unit]
Description=Auto-CD-Player
After=multi-user.target

[Service]
Type=idle
User=volumio
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python ./musik-box/src/cdplayer/cdplayer.py
Restart=always

[Install]
WantedBy=multi-user.target
