[Unit]
Description=RFID-based Player
After=multi-user.target

[Service]
Type=idle
User=volumio
WorkingDirectory=/home/volumio
ExecStart=/usr/bin/python ./musik-box/src/rfidplayer/main.py
Restart=always

[Install]
WantedBy=multi-user.target
